* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  display: block;
  flex-wrap: wrap;
  align-items: center;
}

.col-3,
.col-9 {
  width: 100%;
  padding: 0 15px;
}

.r_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  border: 2px solid #1565C0;
  padding: 30px;
  background: #F5FFFA;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}
ol {
  line-height: 30px;
}

.italic {
  font-style: italic;
}

hr {
  border: none;
  background-color: #1565C0;
  color: #1565C0;
  height: 5px;
}

h1 {
  margin-left: 130px;
  color: #1A237E;
  font-style: oblique;
}

.bold {
  font-weight: bold;
}
